@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">¡Bienvenido a la tienda!</h1>
    <form method="post">
        <div>
            <p> </p>
            <input type="text" class="form-control" name="tipo" placeholder="Introducir el tipo de producto: (1. Camisa 2. Pantalones 3. Zapatos 4. Sombreros)"/>
            <p> </p>
            <input type="text" class="form-control" name="codigo" placeholder="Codigo del producto: (del 1 al 9)"/>
            <p> </p>
        </div>
        <div>
            <button type="submit" class="btn-group">Agregar producto</button>
        </div>
    </form>

</div>
