@{
    ViewData["Title"] = "Ventas";
}
<div class="text-center">
    <h1 class="display-4">Ventas</h1>  
</div>
<div class="text-center">
        <p> </p>
        <h2>Ventas totales $@ViewBag.Ventas</h2>
        <p> </p>
        <p>La ultima venta fue @ViewBag.Ultima por un valor de $@ViewBag.Precio</p>
</div>